body{
    header{
        background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../img/osmtask-home.jpg');
        height: 700px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $lite-color;
        .hwraper{
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            padding-top: 10rem;
            .h-box-1{
                max-width: 550px;
                h1{
                    text-align: left;
                }
                .h-text-color{
                    color: $second-color;
                }
                p{
                    padding-right: 3em;
                }
                .call-to-action{
                    width: 320px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    align-content: center;
                    .p-button{
                        border-radius: 10px;
                        outline-style: none;
                        border-style: none;
                        padding-left: 20px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-right: 20px;
                        cursor: pointer;
                        background: rgb(242,153,74);
                        background: linear-gradient(90deg, rgba(242,153,74,1) 0%, rgba(235,87,87,1) 100%);
                        font-size: 1rem;
                        font-weight: 600;
                        color: $lite-color;
                        margin-right: 1.2rem;
                    }
                    .p-button:active{
                        transform: scale(0.96);
                    }
                    .my-play-btn{
                        height: 90px;
                        width: 90px;
                    }
                }
            }
            .h-box-2{
                max-width: 420px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                hero-image{
                    max-width: 420px;
                }
            }
        }
    }
}