@media (max-width: 1164px){
}

@media (max-width: 980px){
}

@media (max-width: 875px){
    
}

@media (max-width: 850px){
    body{
        header{
            height: 600px;
            .hwraper{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding-top: 5rem;
                .h-box-1{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    h1{
                        text-align: center;
                        font-size: 2rem;
                    }
                    p{
                        text-align: center;
                    }
                    .h-text-color{
                        color: $second-color;
                    }
                    p{
                        padding-right: 0em;
                    }
                    .call-to-action{
                        width: 320px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        .p-button{
                            border-radius: 10px;
                            outline-style: none;
                            border-style: none;
                            padding-left: 20px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            padding-right: 20px;
                            cursor: pointer;
                            background: rgb(242,153,74);
                            background: linear-gradient(90deg, rgba(242,153,74,1) 0%, rgba(235,87,87,1) 100%);
                            font-size: 1rem;
                            font-weight: 600;
                            color: $lite-color;
                        }
                        .p-button:active{
                            transform: scale(0.96);
                        }
                        .my-play-btn{
                            height: 90px;
                            width: 90px;
                        }
                    }
                }
                .h-box-2{
                    display: none;
                }
            }
        }
        .section-2{
            .service-wraper{
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                .service-box{
                    padding: 1rem;
                    width: 100%;
                    min-height: 610px;
                    background-color: $dark;
                    margin: 0 auto;
                    top: 0px;
                    border-radius: 15px;
                    z-index: 2;
                    .s-items{
                        max-width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        // background-color: chartreuse;
                        .s-button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            border: 2px solid transparent;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-right: 2px;
                            padding-left: 2px;
                            border-radius: 10px;
                            background-color: transparent;
                            border-radius: 26px;
                            color: $lite-color;
                            font-size: 1rem;
                            .si-wraper-mb{
                                height: 40px;
                                width: 40px;
                                background-color: $lite-color;
                                border-radius: 20px;
                                color: $dark;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                i{
                                    line-height: 16px;
                                    font-size: 16px;
                                    text-align: center;
                                }
                            }
                            .si-wraper-mb-ac{
                                background: rgb(242,153,74);
                                background: linear-gradient(90deg, rgba(242,153,74,1) 0%, rgba(235,87,87,1) 100%);
                                color: $lite-color;
                            }
                            .sb-item{
                                display: none;
                            }
                            .sb-item-ac{
                                display: block;
                                padding-left: 0.6em;
                                padding-right: 0.6em;
                            }
                        }
                        .sb-active{
                            border: 2px solid $lite-color;
                            background-color: $lite-color;
                            color: $dark;
                            font-weight: bold;
                        }
                    }
                    .s-button:nth-child(1){
                        margin-right: 0.8rem;
                    }
                    .s-button:nth-child(2){
                        margin-right: 0.8rem;
                    }
                    .s-button:nth-child(3){
                        margin-right: 0.8rem;
                    }
                    .service-content-wraper{
                        width: 100%;
                        padding: 0.4em;
                        .service-contents{
                            h2{
                                text-align: center;
                                color: $lite-color;
                            }
                            p{
                                text-align: center;
                                padding-left: 2em;
                                padding-right: 2em;
                                color: $lite-color;
                            }
                        }
                        .sitems-wraperbox{
                            display: flex;
                            flex-direction: column;
                            .sitems-boxes{
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                align-content: space-around;
                                align-items: center;
                                margin-top: 1rem;
                                .sitem-box{
                                    background-color: #ffffff;
                                    height: 180px;
                                    width: 180px;
                                    border-radius: 10px;
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                    margin-left: 0.6rem;
                                    margin-right: 0.6rem;
                                }
                            }
                            .service-contact-box{
                                width: 100%;
                                background-color: transparent;
                                padding: 0.4em;
                                height: auto;
                                margin-top: 2rem;
                                margin-left: 0rem;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .scb-image{
                                    display: none;
                                }
                                button{
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    width: 94%;
                                    margin: 0 auto;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-3{
            .workflow-wraper{
                width: auto;
                height: 800px;
                background-image: url("../../../dist/img/wf-sm.svg");
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                .wf-list{

                    .wf-li:hover{
                        transform: scale(1);
                    }
                    .research-li{
                        position: relative;
                        .research-wf{
                            position: absolute;
                            transform: translate(66px, -40px);
                        }
                    }
                    .design-li{
                        position: relative;
                        .design-wf{
                            position: absolute;
                            transform: translate(216px, -56px);
                        }
                    }
                    .development-li{
                        position: relative;
                        .development-wf{
                            position: absolute;
                            transform: translate(-124px, -72px);
                        }
                    }
                    .project-li{
                        position: relative;
                        .project-wf{
                            position: absolute;
                            transform: translate(-160px, -90px);
                        }
                    }
                    .client-li{
                        position: relative;
                        .client-wf{
                            position: absolute;
                            transform: translate(140px, -108px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
}

@media (max-width: 734px){
    body{
        .section-3{
            .workflow-wraper{
                background-image: none;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .wf-list{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    // font-size: 0.8rem;
                    h3{
                        font-weight: 400;
                    }
                    font-weight: 200;
                    .wf-li{
                        width: 300px;
                        margin: 0 auto;
                        .wf-text-box{
                            // padding: 1em;
                            margin-top: 4rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .wf-img-box{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 70px;
                                height: 30px;
                                display: block;
                                transform: translateY(-40px);
                                img{
                                    width: 70px;
                                    height: 70px;
                                    padding: 0px;
                                    border-radius: 50%;
                                    border: 6px solid $lite-color;
                                }
                            }
                        }
                    }
                    .wf-li:hover{
                        transform: scale(1);
                    }
                    .research-li{
                        position: unset;
                        .research-wf{
                            position: unset;
                            transform: none;
                        }
                    }
                    .design-li{
                        position: unset;
                        .design-wf{
                            position: unset;
                            transform: none;
                        }
                    }
                    .development-li{
                        position: unset;
                        .development-wf{
                            position: unset;
                            transform: none;
                        }
                    }
                    .project-li{
                        position: unset;
                        .project-wf{
                            position: unset;
                            transform: none;
                        }
                    }
                    .client-li{
                        position: unset;
                        .client-wf{
                            position: unset;
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 684px){
}

@media (max-width: 611px){
}

@media (max-width: 530px){
    body{
        .section-2{
            .service-wraper{
                .service-box{
                    .s-items{
                        .s-button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            border: 2px solid transparent;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-right: 2px;
                            padding-left: 2px;
                            border-radius: 10px;
                            background-color: transparent;
                            border-radius: 26px;
                            color: $lite-color;
                            font-size: 1rem;
                            .si-wraper-mb{
                                height: 28px;
                                width: 28px;
                                background-color: $lite-color;
                                border-radius: 20px;
                                color: $dark;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                i{
                                    line-height: 12px;
                                    font-size: 12px;
                                    text-align: center;
                                }
                            }
                            .si-wraper-mb-ac{
                                background: rgb(242,153,74);
                                background: linear-gradient(90deg, rgba(242,153,74,1) 0%, rgba(235,87,87,1) 100%);
                                color: $lite-color;
                            }
                            .sb-item{
                                display: none;
                            }
                            .sb-item-ac{
                                display: block;
                                padding-left: 0.2em;
                                padding-right: 0.2em;
                            }
                        }
                        .sb-active{
                            border: 2px solid $lite-color;
                            background-color: $lite-color;
                            color: $dark;
                            font-weight: bold;
                        }
                        .s-button:nth-child(1){
                            margin-right: 0.2rem;
                        }
                        .s-button:nth-child(2){
                            margin-right: 0.2rem;
                        }
                        .s-button:nth-child(3){
                            margin-right: 0.2rem;
                        }
                    }
                    .service-content-wraper{
                        width: 100%;
                        padding: 0em;
                        .service-contents{
                            h2{
                                text-align: center;
                                color: $lite-color;
                            }
                            p{
                                text-align: center;
                                padding-left: 0em;
                                padding-right: 0em;
                                color: $lite-color;
                            }
                        }
                        .sitems-wraperbox{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            .sitems-boxes{
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                align-content: space-around;
                                align-items: center;
                                margin-top: 1rem;
                                .sitem-box{
                                    background-color: #ffffff;
                                    height: 120px;
                                    width: 120px;
                                    border-radius: 10px;
                                    margin-top: 0.6rem;
                                    margin-bottom: 0.6rem;
                                    margin-left: 0.2rem;
                                    margin-right: 0.2rem;
                                    .sitem-box-image{
                                        width: 80%;
                                        height: 80%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        img{
                                            height: 80px;
                                            width: 80px;
                                        }
                                    }
                                    .sitem-box-name{
                                        visibility: visible;
                                        height: 24%;
                                        width: inherit;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: linear-gradient(90deg, rgb(230, 133, 49) 0%, rgba(235,87,87,1) 100%);
                                        p{
                                            display: block;
                                            font-size: 0.9rem;
                                        }
                                    }
                                }
                            }
                            .service-contact-box{
                                width: 100%;
                                background-color: transparent;
                                padding: 0.4em;
                                height: auto;
                                margin-top: 2rem;
                                margin-left: 0rem;
                                .scb-image{
                                    display: none;
                                }
                                button{
                                    padding-top: 16px;
                                    padding-bottom: 16px;
                                    width: 94%;
                                    margin: 0 auto;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 479px){
}

@media (max-width: 360px){
}


